.page-url-info-list
  .total 搜索到 #{@infos.count} 个记录…

  .list
    - @infos.each do |url_info|
      :ruby
        hl = url_info.highlight
        desc = url_info.desc
        # tags_array = url_info.tags_array

      .url-info
        %a.title{:href => "/url_infos/#{url_info.id}"}= highlight(hl[:title], url_info.title)
        .site
          %i.fa.fa-arrow-right
          %span= highlight(hl[:site], url_info.site)

        - if !desc.blank?
          .desc= simple_format(highlight(hl[:desc], desc))

        / - if !tags_array.blank?
        /   .tags
        /     %i.fa.fa-tags
        /     - highlight(hl[:tags_array], tags_array).each do |tag|
        /       %span.tag ##{tag}
