.page-url-info-show
  .actions
    %a.index{:href => '/', :title => '返回列表'}
      %i.fa.fa-arrow-left 

    %a.delete{:href => "javascript:;", :"data-urlinfoid" => @url_info.id, :title => '删除'}
      %i.fa.fa-trash-o

  .url-info
    :ruby
      / tags_array = @url_info.tags_array
      desc = @url_info.desc
      image_url = @url_info.image_url

    .title= @url_info.title
    = from_site @url_info

    .url.long
      %span 长网址：
      %a{:href => @url_info.url}= @url_info.url

    .url.short
      %span 短网址：
      %a{:href => @url_info.short_url}= @url_info.short_url
    
    = url_desc @url_info
    / = url_tags @url_info

    .extra
      .qrcode
        - code = @url_info.short_url.split('/').last()
        - qrcode_url = "http://img.teamkn.com/qr/#{code}.png"

        %span 二维条码：
        %img{:src => qrcode_url}

      - if image_url.present?
        .screenshot
          %span 网页截图：
          %img{:src => "#{image_url}@640w_360h_1e_1c"}
