.page-url-info-list
  .total 你一共收集了 #{@url_infos.count} 个网址…

  .list
    - @url_infos.each do |url_info|
      :ruby
        desc = url_info.desc
        tags_array = url_info.tags_array

      .url-info
        .title
          %a{:href => url_for(url_info)}= url_info.title
        = from_site url_info
        = url_desc url_info
        = url_tags url_info
        - if url_info.image_url.present?
          %a.thumbnail{:href => url_for(url_info)}
            %img{:src => "#{url_info.image_url}@240w_135h_1e_1c"}

    = paginate @url_infos