.page-url-info-list
  .total 你一共收集了 #{@url_infos.count} 个网址…

  .list
    - @url_infos.each do |url_info|
      :ruby
        desc = url_info.desc
        tags_array = url_info.tags_array

      .url-info
        %a.title{:href => "/url_infos/#{url_info.id}"}= url_info.title
        .site
          %i.fa.fa-arrow-right
          %span= url_info.site

        - if !desc.blank?
          .desc= simple_format desc

        - if !tags_array.blank?
          .tags
            %i.fa.fa-tags
            - tags_array.each do |tag|
              %span.tag ##{tag}

    = paginate @url_infos