.page-url-info-show
  .actions
    %a.index{:href => '/', :title => '返回列表'}
      %i.fa.fa-arrow-left 

    %a.delete{:href => "javascript:;", :"data-urlinfoid" => @url_info.id, :title => '删除'}
      %i.fa.fa-trash-o

  .url-info
    :ruby
      tags_array = @url_info.tags_array
      html_desc = @url_info.html_desc

    .title= @url_info.title
    .site
      %i.fa.fa-arrow-right
      %span= @url_info.site

    .url
      %span 长网址：
      %a{:href => @url_info.url}= @url_info.url

    .short-url
      %span 短网址：
      %a{:href => @url_info.short_url}= @url_info.short_url

    - if !html_desc.blank?
      .desc= html_desc

    - if !tags_array.blank?
      .tags
        %i.fa.fa-tags
        - tags_array.each do |tag|
          %span.tag ##{tag}