!!!
%html{:lang => :zh}
  %head
    <meta property="wb:webmaster" content="8b53c190287cde08" />
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title 四叶书签
    = stylesheet_link_tag "application"
  %body
    - if signed_in?
      :ruby
        path = request.path_info
        klass1 = path == "/" ? 'active' : ''
        klass2 = path == "/get_plugin" ? 'active' : ''

      .page-header
        .page-nav
          .pie.avatar.s32
            %img{:src => self.current_store.avatar}
          .name= self.current_store.name

          %a.collects{:href=>'/', :class => klass1} 
            %i.fa.fa-list
            %span 书签列表

          %a.get-plugin{:href=>'/get_plugin', :class => klass2}
            %i.fa.fa-cloud-download
            %span 获取插件

          %a.sign-out{:href=>"/sign_out"} 
            %i.fa.fa-sign-out
            %span 退出登录

      .page-content
        = yield

    - else
      = yield

    = javascript_include_tag "application"
